header {
    display:flex;
    flex-direction: column;
    padding-top: 30px;
}
.header-toplink {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: 'GraphikLCG-Regular';
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    line-height: 20px;
}
.social {
}
.social__link {
    background: url(../img/Shape.svg) no-repeat 0 0;
    padding-left: 35px;
    padding-top: 3px;
    color: #999999;
}

.lang-search-box {
    display: flex;
}
.lang {
    padding-right: 30px;
}
.lang__link {
    color: #999999;
}
.search {
}
.search__link {
    display: inline-block;
    background: url(../img/search.svg) no-repeat 0 0;
    width: 15px;
    height: 15px;
}
