@import url(../fonts/fonts.css); /*шрифты*/

@import url(reset.css); /*уровнение  стилей*/

@import url(header.css);

@import url(main.css);

@import url(footer.css);

@import url(subscription.css); /*подписка*/


                            /*-------------BODY-------------*/
body {
    background: #F4F5F6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}
.wrapper {
    max-width: 1254px;
    margin: 0 auto;
    padding: 0 39px;
}

a {
    text-decoration: none;
}

