/*ШРИФТЫ*/
@font-face {
    font-family: 'TrolaLatCyrHeavyIt';
    src: url('../fonts/TrolaLatCyrHeavyIt.eot');
    src: local('☺'), url('../fonts/TrolaLatCyrHeavyIt.woff') format('woff'), url('../fonts/TrolaLatCyrHeavyIt.ttf') format('truetype'), url('../fonts/TrolaLatCyrHeavyIt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrolaLatCyrSemibold';
    src: url('../fonts/TrolaLatCyrSemibold.eot');
    src: local('☺'), url('../fonts/TrolaLatCyrSemibold.woff') format('woff'), url('../fonts/TrolaLatCyrSemibold.ttf') format('truetype'), url('../fonts/TrolaLatCyrSemibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*    font-family: 'TrolaLatCyr'; */
    src: url('../fonts/TrolaLatCyr.eot');
    src: local('☺'), url('../fonts/TrolaLatCyr.woff') format('woff'), url('../fonts/TrolaLatCyr.ttf') format('truetype'), url('../fonts/TrolaLatCyr.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrolaLatCyrHeavy';
    src: url('../fonts/TrolaLatCyrHeavy.eot');
    src: local('☺'), url('../fonts/TrolaLatCyrHeavy.woff') format('woff'), url('../fonts/TrolaLatCyrHeavy.ttf') format('truetype'), url('../fonts/TrolaLatCyrHeavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrolaLatCyrLight';
    src: url('../fonts/TrolaLatCyrLight.eot');
    src: local('☺'), url('../fonts/TrolaLatCyrLight.woff') format('woff'), url('../fonts/TrolaLatCyrLight.ttf') format('truetype'), url('../fonts/TrolaLatCyrLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCG-Regular';
    src: url('../fonts/GraphikLCG-Regular.eot');
    src: local('☺'), url('../fonts/GraphikLCG-Regular.woff') format('woff'), url('../fonts/GraphikLCG-Regular.ttf') format('truetype'), url('../fonts/GraphikLCG-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GraphikLCG-Semibold';
    src: url('../fonts/GraphikLCG-Semibold.eot');
    src: local('GraphikLCG-Semibold'), url('../fonts/GraphikLCG-Semibold.woff') format('woff'), url('../fonts/GraphikLCG-Semibold.ttf') format('truetype'), url('../fonts/GraphikLCG-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background: url()
}
